.contenedor-ruta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
  padding: 20px;
}

.boton-grande {
  font-size: 1.5em;
  padding: 10px 20px;
  margin-bottom: 10px; 
}

.resultado-ruta {
  color: white;
  border: 1px solid #ddd;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  width: 300px;
}