<app-navbar></app-navbar>
<table class="tabla-base">
  <tr class="fila-base">
    <td class="columna-base">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </td>
    <td class="columna-base">
      <div class="box-derecha">
        <div class="additional-buttons">
          <button (click)="cicleBoton()"><mat-icon> directions_bike</mat-icon></button>
          <button (click)="footBoton()"><mat-icon> directions_walk</mat-icon></button>
        </div>
        <basic-data-box [title]="('Vehículo Seleccionado')" [isBtn]="true" [actionBtn]="('Elige Vehículo')"
          (actionBtnTap)="eligeVehiculo()">
          <table class="mobilidad-seleccionada">
            <tr>
              <td>Nombre: </td>
              <td *ngIf="isMobilitySelected">{{ mobilitySelected.nombre }}</td>
            </tr>
            <tr>
              <td>Marca: </td>
              <td *ngIf="isMobilitySelected">{{ mobilitySelected.marca }}</td>
            </tr>
            <tr>
              <td>Tipo: </td>
              <td *ngIf="isMobilitySelected">{{ mobilitySelected.tipo }}</td>
            </tr>
            <tr>
              <td>Consumo: </td>
              <td *ngIf="isMobilitySelected">{{ mobilitySelected.consumo }}</td>
            </tr>
          </table>
        </basic-data-box>
        <mat-radio-group aria-labelledby="route-strategies" class="radio-group" (change)="onRadioChange($event)">
          <mat-radio-button value="1" class="radio-button">Más Rápida</mat-radio-button>
          <mat-radio-button value="2" class="radio-button">Más Corta</mat-radio-button>
          <mat-radio-button value="3" class="radio-button">Recomendada</mat-radio-button>
        </mat-radio-group>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Elige un lugar de interés
              </mat-panel-title>
            </mat-expansion-panel-header>
            <tbody>
              <tr *ngFor="let site of sitesData">  
                <td>{{ site.name }}</td>
                <td>
                  <button class="my-button" (click)="selectedSite(site)">Seleccionar <mat-icon>room</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </td>
  </tr>
  <tr class="fila-base">
    <td class="columna-base" >
      <div *ngIf="showRouteInfo">
        <p></p>
        <textarea id="routeName" placeholder="Introduce un nombre para la ruta..." [(ngModel)]="routeName" class="field-class" required></textarea>
        <button class="my-button" (click)="saveRoute()">¿Quieres guardar esta ruta (distancia, trayecto y duración)?<mat-icon>save</mat-icon></button>
      </div>
    </td>
    <td class="columna-base">
      <div class="box-derecha">
      <basic-data-box [title]="('Datos de ruta')" [isBtn]="true" [actionBtn]="('Calcula ruta')"
        (actionBtnTap)="calculateRoute()">
        <table class="mobilidad-seleccionada" *ngIf="showRouteInfo">
          <tr>
            <td>Distancia: </td>
            <td>{{ distanceInKMs }} Km</td>
          </tr>
          <tr>
            <td>Duración: </td>
            <td>{{ timeInMinutes }} minutos</td>
          </tr>
          <tr>
            <td>Coste: </td>
            <td>{{ costRoute }} {{ uniCost }}</td>
          </tr>
        </table>
      </basic-data-box>
    </div>
    </td>
  </tr>
</table>