<ng-container>
	<div class="my-header">
		<div class="my-title-app">
			<p id="titulo" routerLink="">{{ title }}</p>
		</div>
		<div>
			<ul>
				<li><a routerLink="vehiculos" *ngIf="logged"> Vehículos </a></li>
			</ul>
		</div>
		<div class="login">
			<button (click)="logIn()" class="my-button" *ngIf="!logged"> Iniciar Sesión </button>
			<button class="my-button"> Registrar </button>
			<button (click)="logOut()" class="my-button" *ngIf="logged"> Log Out </button>
		</div>
	</div>
</ng-container>