header {
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin-bottom: 100px;
}

.botones {
  display: flex;
  align-items: center;
  gap: 10px;
}
    
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}