<ng-container>
	<div class="my-header">
		<div class="my-title-app">
			<p id="titulo" routerLink="">{{ title }}</p>
		</div>
		<div>
			<ul>
				<li><a routerLink="vehiculos"> Vehículos </a></li>
			</ul>
		</div>
		<div class="login" *ngIf="!logged">
			<button mat-raised-button color="accent" routerLink="login" class="inicio-sesion">Iniciar Sesión</button>
			<button mat-raised-button color="accent" routerLink="registro">Registrar</button>
		</div>
		<div class="logout" *ngIf="logged">
			{{ userEmail }}
			<button mat-raised-button color="warn" (click)="logOut()" *ngIf="logged" routerLink="" class="salir-sesion">Log Out</button>
			<button mat-raised-button (click)="openDialogRemoveAccount('1500ms', '750ms')" >Borrar Cuenta</button>
		</div>
	</div>
</ng-container>