.my-header {
  display: flex;
  margin: 0%;
  width: 100%;
  background-color: rgb(101, 10, 185);
  color: #fff;
  justify-content: space-between;
  height: 50px;
  left: 0;
  top: 0;
 /* position: fixed;*/
  
}
.my-title-app{
  margin-top: 15px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.login{
  align-items: center;
  height: 50px;
}

.my-button {
  height: 100%;
  padding: 10px 20px;
  background-color: rgb(101, 10, 185);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.my-button:hover {
  background-color: #8d33d1;
}
.my-button:active {
  background-color: #965bd1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}
