.my-header {
  display: flex;
  margin: 0%;
  width: 100%;
  background-color: rgb(101, 10, 185);
  color: #f0f0f0;
  justify-content: space-between;
  height: 50px;
  left: 0;
  top: 0;

 /* position: fixed;*/
  
}
.my-title-app{
  display: flex;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  
}
.app-logo{
  width: 25px;
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
  
}
.title-text{
  margin-top: 15px;
  margin-left: 5px;
  cursor: pointer;
}

/*
.login{
  align-items: center;
  height: 50px;
  /*margin-top: 7.5px;
  margin-right: 30px;
}
.inicio-sesion{
  margin-right: 7px;
}
.salir-sesion{
  margin-right: 7px;
}
.logout{
  align-items: center;
  height: 50px;
 /* margin-top: 7.5px;
  margin-right: 30px;
}*/
.nav-list{
  cursor: pointer;
  font-size: 16px;
}
.nav-list:hover{
  font-size: 18px;
  color: goldenrod;
}
.li-list{
  display: inline;
  margin-right: 10%;
}
.ul-list{
  min-width: 300px;
}


.my-button {
  height: 100%;
  padding: 10px 10px;
  background-color: rgb(101, 10, 185);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.my-button:hover {
  background-color: #8d33d1;
}
.my-button:active {
  background-color: #965bd1;
}

.btDeleteAccount:hover{
  background-color: crimson;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}

.myUsername{
  cursor: pointer;
}
.myUsername:hover{
  font-size: 15px;
  color: goldenrod;
}


