<app-navbar></app-navbar>
<table class="prueba-tabla prueba-tabla-general">
  <thead>
    <tr class="header-table">
      <th class="data-cell">Nombre</th>
      <th class="data-cell">Inicio</th>
      <th class="data-cell">Final</th>
      <th class="data-cell">Distancia</th>
      <th class="data-cell">Duración</th>
      <th class="data-cell">Favorito</th>
      <th class="bt-cell">Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let route of routesData">  
      <td class="data-cell">{{ route.nombre }}</td>
      <td class="data-cell">{{ transformarCoordenadas(route.inicio) }}</td>
      <td class="data-cell">{{ transformarCoordenadas(route.final) }}</td>
      <td class="data-cell">{{ route.distancia }} Km</td>
      <td class="data-cell">{{ route.duracion }} minutos</td>
      <td class="bt-cell"><input type="checkbox" [(ngModel)]="route.favorite" id="fCheckbox" (change)="onCheckFavorite(route)"><label for="fCheckbox"></label></td>
      <td class="bt-cell"><button class="my-button" (click)="deleteRoute(route)"><mat-icon>delete</mat-icon></button></td>
    </tr>
  </tbody>
</table>