<app-navbar></app-navbar>
<table class="prueba-tabla prueba-tabla-general">
  <thead>
    <tr class="header-table">
      <th class="data-cell">Nombre</th>
      <th class="data-cell">Marca</th>
      <th class="data-cell">Tipo</th>
      <th class="data-cell">Consumo</th>
      <th class="bt-cell">Seleccionar</th>
      <th class="bt-cell">Modificar</th>
      <th class="bt-cell">Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehiculo of vehiclesData">  
      <td class="data-cell">{{ vehiculo.nombre }}</td>
      <td class="data-cell">{{ vehiculo.marca }}</td>
      <td class="data-cell">{{ vehiculo.tipo }}</td>
      <td class="data-cell">{{ vehiculo.consumo }}</td>
      <td class="bt-cell"><button class="my-button" (click)="vehicleSelected(vehiculo)"><mat-icon>directions_car</mat-icon></button></td>
      <td class="bt-cell"><button class="my-button" (click)="modifyVehicle(vehiculo)"><mat-icon>edit</mat-icon><!--</button>[disabled]="!p.timeLastAccess"> --></button></td>
      <td class="bt-cell"><button class="my-button" (click)="deleteVehicle(vehiculo)"><mat-icon>delete</mat-icon></button></td>
    </tr>
  </tbody>
</table>

<div class="content-wrapper">
  <button (click)="newVehicle()" class="bt-add my-button">
    Añadir Vehículo
  </button>
</div>